body {
	padding-top: 60px;
	padding-bottom: 40px;
      }
.sidebar-nav {
	padding: 9px 0;
      }


/*LOGIN PAGE*/

#login-page .container {
    width: 300px;
      }

#login-page .container > .content {
    background-color: #eee;
    padding: 20px;
    margin: 0 -20px; 
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

#login-page .login-form {
	margin-left: 65px;
	  }
	
#login-page	legend {
	margin-right: -50px;
	font-weight: bold;
	color: #404040;
	  }